
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Adminstrer shoppen</title>
</head>
<div th:replace="header">...</div>
<body>

<h2>Adminstrer Shop </h2>
<form method="get" action="/addItem">
    <button type="submit">Tilføj shop inventar</button>
</form>
<form method="get" action="/deleteItem">
    <button type="submit">Slet shop inventar</button>
</form>
<form method="get" action="/updateItem">
    <button type="submit">Opdater inventar information</button>
</form>

</body>
</html>